@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    background-color: #2c3e50;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info span {
    margin-right: 10px;
}

.logout-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.logout-btn:hover {
    background-color: #c0392b;
}


.admin-text {
	font-size: 20px;
}
.container {
    display: flex;
    height: calc(100vh - 60px);
    align-items: stretch; /* 자식 요소의 높이를 부모 높이에 맞춤 */
}
.sidebar {
    width: 200px;
    background-color: #333;
    color: white;
    padding: 20px;
    transition: all 0.3s;
    position: relative;
    justify-content: center;
    height: 100%; /* 부모 요소와 같은 높이 */
}
.sidebar.hidden {
    width: 60px;
    padding: 20px 0;
}
.sidebar.hidden .sidebar-content {
    display: none;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
    flex-grow: 1;
}
.sidebar ul li {
    margin-bottom: 10px;
}
.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.sidebar ul li a:hover {
    background-color: #555; /* 호버 시 회색으로 변경 */
}
.sidebar h2 {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.toggle-btn {
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: all 0.3s;
}
.hidden .toggle-btn {
    transform: rotate(180deg);
    right: 20px;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
} 
.sidebar ul li {
    margin-bottom: 10px;
}
.sidebar ul li a {
    color: white;
    text-decoration: none;
}
.main-content {
    flex-grow: 1;
    padding: 20px;
}
