<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>model1_project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>GeoCodingController</servlet-name>
  	<servlet-class>kr.co.truetrue.kakao.GeoCodingController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>GeoCodingController</servlet-name>
  	<url-pattern>/model1_project/api/geocode</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>CrawlerController</servlet-name>
      <servlet-class>kr.co.truetrue.crawler.CrawlerController</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>CrawlerController</servlet-name>
      <url-pattern>/model1_project/crawlStores</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>SaveStoresController</servlet-name>
      <servlet-class>kr.co.truetrue.crawler.SaveStoresController</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>SaveStoresController</servlet-name>
      <url-pattern>/model1_project/saveStores</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>LoginServlet</servlet-name>
      <servlet-class>kr.co.turetrue.admin.login.LoginServlet</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>LoginServlet</servlet-name>
      <url-pattern>/model1_project/admin/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>LogoutServlet</servlet-name>
      <servlet-class>kr.co.turetrue.admin.login.LogoutServlet</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>LogoutServlet</servlet-name>
      <url-pattern>/model1_project/admin/logout</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>UserLogoutServlet</servlet-name>
      <servlet-class>kr.co.turetrue.admin.login.UserLogoutServlet</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>UserLogoutServlet</servlet-name>
      <url-pattern>/model1_project/user/logout</url-pattern>
  </servlet-mapping>
</web-app>