@charset "UTF-8";
/* Font	 */
@font-face {
	font-family:'Nanum Barun Gothic';
	font-style:normal;
	font-weight:300;
	src:url(font/NanumBarunGothicLight.eot);
	src:url(font/NanumBarunGothicLight.eot?#iefix) format('embedded-opentype'),
			url(font/NanumBarunGothicLight.woff2) format('woff2'),
			url(font/NanumBarunGothicLight.woff) format('woff'),
			url(font/NanumBarunGothicLight.ttf) format('truetype');
}
@font-face {
	font-family:'Nanum Barun Gothic';
	font-style:normal;
	font-weight:400;
	src:url(font/NanumBarunGothic.eot);
	src:url(font/NanumBarunGothic.eot?#iefix) format('embedded-opentype'),
			url(font/NanumBarunGothic.woff2) format('woff2'),
			url(font/NanumBarunGothic.woff) format('woff'),
			url(font/NanumBarunGothic.ttf) format('truetype');
}
@font-face {
	font-family:'Nanum Barun Gothic';
	font-style:normal;
	font-weight:700;
	src:url(font/NanumBarunGothicBold.eot);
	src:url(font/NanumBarunGothicBold.eot?#iefix) format('embedded-opentype'),
				url(font/NanumBarunGothicBold.woff2) format('woff2'),
				 url(font/NanumBarunGothicBold.woff) format('woff'),
				 url(font/NanumBarunGothicBold.ttf) format('truetype');
}
/* Default */
html,body {width:100%;height:100%;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,
button, input, textarea {margin:0;padding:0;border:0;vertical-align:baseline;}
html {font-size:12px;color:#555;font-family:"Nanum Barun Gothic","����",sans-serif;}
ol,ul,li {list-style:none}
legend, hr, caption {position: absolute;top: 0;left: 0;width: 1px;height: 1px;margin: -1px;border: none;overflow: hidden;clip: rect(0, 0, 0, 0);}
table {border-collapse:collapse;border-spacing:0;}
th,td {text-align:left;vertical-align:middle;word-break:break-all;word-wrap:break-word;}
strong,b {font-weight:bold;}
q,blockquote {quotes:none;}
q:before,q:after,
blockquote:before,
blockquote:after {content:"";content:none;}
a {vertical-align:top;}
a, a:link, a:visited {text-decoration:none;color:#555;}
a:hover {text-decoration:underline;}
/* Skip Navigation */
.skiplist {position:relative;z-index:9999;margin:0;padding:0;}
.skip {display:none;font-family:"����", dotum;text-align:left;margin:0;padding:0;position:absolute;} /*All incl Opera*/
.skip {display:block;} /*Seen by IE*/
:root .skip {display:block;} /*Seen by Moz, FF and Safari*/
.skip a {position:absolute;left:-200em;width:14em;padding:0 0.5em;display:inline;text-decoration:none;z-index:1000;}
.skip a:focus, .skip a:active {position:absolute;left:0;padding:10px;border:solid #333 1px;color:#fff;background:#000;}
.skip a:hover {cursor:default;}
.dim {display:none;width:100%;height:100%;background:#000;position:absolute;left:0;top:0;z-index:120;opacity:0.4;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);}
.dimmed {position:fixed;left:0;top:0;z-index:120;width:100%;height:100%;background:#000;opacity:0.65;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=65)}
#pop_bg {opacity:0.4;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);}
/* common */
.tal {text-align:left !important;;}
.tac {text-align:center !important;}
.tar {text-align:right !important;}
.dpn {display:none;}
.invisible, .hidden {position: absolute;top: 0;left: 0;width: 1px;height: 1px;margin: -1px;border: none;overflow: hidden;clip: rect(0, 0, 0, 0);}
.blind {position: absolute;top: 0;left: 0;width: 1px;height: 1px;margin: -1px;border: none;overflow: hidden;clip: rect(0, 0, 0, 0);}
.vam {vertical-align:middle;}
.vat {vertical-align:top;}
.ofh {overflow:hidden;}
.clear {clear:both;}
.bold {font-weight:bold;}
.fwn {font-weight:normal !important;}
.floatleft {float:left !important;}
.floatright {float:right !important;}
.floatnone {float:none !important;}
.noneborder {border:none!important;}
.noneborder-top {border-top:none!important;}
.nonebg {background-image:none !important;}
.nonemgb {margin-bottom:0px !important;}
.width50 {width:50% !important;}
.lh_18 {line-height:18px !important;}
.lh_23 {line-height:23px !important;}
/* �щ갚愿��� */
.mgt_4 {margin-top:4px !important;}
.mgt_5 {margin-top:5px !important;}
.mgt_10 {margin-top:10px !important;}
.mgt_30 {margin-top:30px !important;}

.mgr_0 {margin-right:0 !important;}
.mgr_5 {margin-right:5px !important;}
.mgr_10 {margin-right:10px !important;}
.mgr_17 {margin-right:17px !important;}
.mgr_20 {margin-right:20px !important;}
.mgr_29 {margin-right:29px !important;}

.mgb_0 {margin-bottom:0 !important;}
.mgb_4 {margin-bottom:4px !important;}
.mgb_5 {margin-bottom:5px !important;}
.mgb_20 {margin-bottom:20px !important;}
.mgb_30 {margin-bottom:30px !important;}
.mgb_38 {margin-bottom:38px !important;}
.mgb_48 {margin-bottom:48px !important;}
.mgb_50 {margin-bottom:50px !important;}

.mgl_0 {margin-left:0px !important;}
.mgl_20 {margin-left:20px !important;}

.mgt_n_29 {margin-top:-29px !important;}
.mgt_n_56 {margin-top:-56px !important;}
.mgt_n_65 {margin-top:-65px !important;}

.pdt_0 {padding-top:0px !important;}
.pdt_10 {padding-top:10px !important;}
.pdt_20 {padding-top:20px !important;}
.pdt_27 {padding-top:27px !important;}
.pdt_29 {padding-top:29px !important;}
.pdt_30 {padding-top:30px !important;}
.pdt_40 {padding-top:40px !important;}
.pdt_50 {padding-top:50px !important;}
.pdt_253 {padding-top:253px !important;}

.pdb_0 {padding-bottom:0 !important;}
.pdb_4 {padding-bottom:4px !important;}
.pdb_5 {padding-bottom:5px !important;}
.pdb_13 {padding-bottom:13px !important;}
.pdb_17 {padding-bottom:17px !important;}
.pdb_40 {padding-bottom:40px !important;}

.pdl_120 {padding-left:120px !important;}
/* 而щ�ш��� */
.c_e60 {color:#f26b24 !important;}/* 201607 */
.c_532 {color:#573b25 !important;}
.b_fff {background-color:#fff !important;}
.b_000 {background-color:#000 !important;}
.b_f8f {background-color:#f8f8f8 !important;}
/* �명��諛��� */
select, input, textarea {font-family:Arial,"����", Dotum;}
input[type="file"] {height:17px;margin:0;padding:5px 0 5px 0;border:1px solid #e0dcd7;color:#666;line-height:20px;text-indent:0;}
.txtArea {width:687px;height:165px;border:1px solid #e0dcd7;color:#666;line-height:20px;text-indent:10px;}/* textarea */
.slt01 {height:29px;margin:0;border:1px solid #e0dcd7;color:#666;line-height:20px;text-indent:6px;}/* select */
.slt02 {float:left;width:132px;/*height:32px;*/padding:7px 5px;margin:0 10px 0 0;border:1px solid #e0dcd7;color:#666;line-height:20px;} /* store */
.slt03 {height:32px;margin:0;border:0;color:#666;line-height:20px;text-indent:6px;}/* select *//* 20160818 */
.ipt01 {float:left;height:17px;margin:0;padding:5px 0 5px 0;border:1px solid #e0dcd7;color:#666;line-height:20px;text-indent:10px;} /*	input *//* 20160818 */
.ipt02 {float:left;height:22px;margin:0;padding:5px 0 5px 0;background:#fff;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);opacity:0.8;font-size:12px;color:#49321f;line-height:22px;text-indent:9px;letter-spacing:-1px;} /*	input */
.ipt03 {float:left;height:25px;padding:1px 0 1px 3px;border:1px solid #e0dcd7;line-height:28px;text-indent:10px;}/* �⑤�쇱�몄���대�댁�� */
.ipt-check {width:19px;height:19px;margin:0;vertical-align:top;} /* checkbox */
.ipt-radio {width:18px;height:18px;margin:0;vertical-align:middle;} /* radio */
.bar {background:green;}
.bar_dh {float:left;display:inline-block;width:18px;height:29px;text-align:center;line-height:2.5em;}
.bar_dh2 {float:left;display:inline-block;width:13px;height:29px;text-align:center;line-height:2.5em;}/* cs03 */
.bar_dh3 {float:left;display:inline-block;width:14px;height:29px;text-align:center;line-height:2.5em;}/* 李멸���泥��� */
.bar_dh4 {float:left;display:inline-block;width:20px;height:29px;text-align:center;line-height:2.5em;}/* �⑤�쇱�몄��� */
.bar_dh9 {float:left;display:inline-block;width:19px;height:29px;text-align:center;line-height:2.5em;}/* 李멸���泥��� */
.custom-label {display:inline-block;margin:0;cursor:pointer;}
.custom-radio,
.custom-check {display:inline-block;position:relative;top:0;margin:0 0 0 6px;width:19px;height:19px;background:url("../images/common/customRadioCheck.png") 0 0 no-repeat;vertical-align:middle;}
.custom-radio {background-position:0 -21px;}
.custom-check.focus {background-position:-19px 0;}
.custom-radio.focus {background-position:-19px -21px;}
.custom-check.checked {background-position:-40px 0;}
.custom-radio.checked {background-position:-40px -21px;}
.custom-check.checked.focus {background-position:-59px 0;}
.custom-radio.checked.focus {background-position:-59px -21px;}
/* ��硫���1 */
.tab_menu1 {overflow:hidden;width:100%;margin:0 auto 20px;}
.tab_menu1 li {float:left;width:49.85%;margin-left:1px;}
.tab_menu1 li:first-child {margin-left:0;}
/* 201607 start */
.tab_menu1 li a {float:left;
	display:inline-block;width:100%;height:30px;padding:0;border:1px solid #8fa19a;font-size:15px;color:#184f3b;text-align:center;line-height:2em;
	background:transparent;
	-webkit-transition-duration:0.5s;
	-moz-transition-duration:0.5s;
	-ms-transition-duration:0.5s;
	-o-transition-duration:0.5s;
	transition-duration:0.5s;
}
.tab_menu1 li a:focus,
.tab_menu1 li a:hover {color:#333;border:1px solid #8fa19a;background-color:#abc9bf;}/* 20160818 */
.tab_menu1 li a.on:focus,
.tab_menu1 li a.on:hover,
.tab_menu1 li a.on {color:#fff;text-decoration:none;border:1px solid #184f3b;background-color:#184f3b;}
/* //201607 end */
.tab_menu1.tab3 > li {width:33.2% !important;}
.tab_menu1.tab4 > li {width:24.85% !important;}
.tab_menu1.tab5 > li {width:19.88% !important;}
.tab_menu1.tab6 > li {width:16.55% !important;}
*:first-child+html .tab_menu1.tab6 > li {width:16.54% !important;}
/* ��硫���2 */
.tab_menu2 {overflow:hidden;width:100%;height:16px;margin:15px auto 20px;text-align:right;}
.tab_menu2 li {color:#777;}
.tab_menu2 a {display:inline-block;padding:0 7px 0 13px;border-left:1px solid #a6a6a6;font-size:13px;color:#777;}
.tab_menu2 a:first-child {padding:0 7px 0 0;border-left:none;font-size:13px;color:#777;}
.tab_menu2 a:hover,.tab_menu2 a.on {font-size:13px;color:#000;}
.tab_menu2 a.on span{font-weight: bold;border-bottom: 1px solid #000;}
/* ��硫���3 */
.tab_menu3 {overflow:hidden;width:100%;margin:0 auto 40px;}
.tab_menu3 li {float:left;width:50%;}
.tab_menu3 li a {float:left;display:inline-block;width:100%;padding:13px 0 9px 0;border-bottom:1px solid #bab1a4;font-size:15px;color:#604935;text-align:center;line-height:2em;}
.tab_menu3 li a.on {border-bottom:1px solid #184f3b;color:#604935;}/* 20160818 */
.tab_menu3 li a:hover {border-bottom:1px solid #184f3b;color:#604935;text-decoration:none;}/* 20160818 */
.tab_menu3 li a:focus {background:#184f3b;color:#fff;}/* 20160818 */
.tab_menu3.tab6 > li {width:16.66666666666667% !important;}
.tab_menu3.tab3 > li {width:33.3% !important;}
/* ��硫���4 */
.tab_menu4 {width:100%;height:49px;margin-top:10px;border-bottom:1px solid #bab1a4;text-align:center;}
.tab_menu4 ul {display:inline-block;}
.tab_menu4 li {float:left;display:inline-block;text-align:center;}
.tab_menu4 li:first-child {margin-left:0;}
.tab_menu4 li a {float:left;display:inline-block;padding:18px 20px 16px 20px;border-bottom:1px solid #bab1a4;font-size:15px;color:#5e5e5e;line-height:15px;outline:0;}
.tab_menu4 li a.on {border-bottom:1px solid #4f3e2f;color:#000;font-weight:bold;}
.tab_menu4 li a:hover {border-bottom:1px solid #4f3e2f;color:#000;font-weight:bold;text-decoration:none;}
.tab_menu4 li a:focus {color:#000;font-weight:bold;}
/* ��硫���5 */
.tab_menu5,
.tab_menu6 {overflow:hidden;width:100%;height:49px;border-top:1px solid #d7d1cb;background:url("../images/common/common.png") no-repeat 0 -645px;text-align:center;}
.tab_menu5 ul,
.tab_menu6 ul {display:inline-block;}
.tab_menu5 li {float:left;width:33.3%;height:49px;}
.tab_menu6 li {float:left;width:20%;height:49px;}
.tab_menu5 li a,
.tab_menu6 li a {display:inline-block;width:100%;/*width:140px;*/height:33px;padding:15px 0 0 0;font-size:15px;color:#5e5e5e;text-align:center;}
.tab_menu5 li.on a,
.tab_menu5 li.on a:hover,
.tab_menu6 li.on a:hover {border-bottom:1px solid #4f3e2f;color:#604935;}
.tab_menu5 li.on a:focus,
.tab_menu6 li.on a:focus {background:#4f3e2f;color:#fff;}
.tab_menu5.is-center li {display:inline-block;float:none; display:inline; zoom:1;}/* 2016-04-11 */
/*��硫���7*/
.tab_menu7 {display:inline-block;width:100%;margin:0px 0 67px 0;}
.tab_menu7 li {float:left;width:49.8%;height:43px;border-top:1px solid #d3d3d3;border-left:1px solid #d3d3d3;border-right:1px solid #d3d3d3;line-height:40px;text-align:center;}
.tab_menu7 li a {display:inline-block;width:100%;height:100%;background:#dcdcdc;font-size:15px;color:#5e5e5e;}
.tab_menu7 li a.on {background:transparent;color:#000;font-weight:bold;}

/* ���댄�� */
.page_title {position:relative;padding:39px 0 0 17px;max-width:230px;text-align:left;z-index:10;}
.page_title:after {content:"";display:block;position:absolute;top:41px;left:0;width:4px;height:19px;background-color:#2f6d56;}
.page_title span {display:inline-block;width:100%;height:25px;font-size:12px;background:url("../images/common/page_title.png") no-repeat left top;text-indent:-999em;}
.page_title2 {position:absolute;left:0;right:0;top:55px;text-align:center;z-index:10;}
.page_title2 span {display:inline-block;height:64px;font-size:12px;background:url("../images/common/tit_common.png") no-repeat left top;text-indent:-999em;}
/* 釉������ㅽ��由� */
.page_title .tit_story {background-position:0px 0px;}/* 釉������ㅽ��由� */
.page_title .tit_ad {background-position:0px -40px;}/* ����伊щⅤ 愿�怨� */
.page_title .tit_webzine {background-position:0px -80px;}/* ����伊щⅤ �뱀� */
.page_title .tit_ratelier {background-position:0px -120px;}/* �쇰�곕━�� ����伊щⅤ */
.page_title .tit_goodBread {background-position:0px -160px;}/* ����伊щⅤ 李⑺��鍮� */
.page_title .tit_global {background-position:0px -200px;}/* 湲�濡�踰� ����伊щⅤ */
.page_title .tit_news {background-position:0px -240px;}/* �댁��&怨듭��ы�� */
.page_title .tit_bread_talk {background-position:0px -360px;} /* ��濡���吏� ����伊щⅤ */
.page_title .tit_bread_schedule {background-position:0px -320px;} /* 媛� 援ъ�� 鍮� ��媛��� */
/* �������� */
.page_title .tit_new {background-position:-250px 0px;}/* ������ */
.page_title .tit_bread {background-position:-250px -40px;}/* 鍮� */
.page_title .tit_cake {background-position:-250px -80px;}/* 耳��댄�� */
.page_title .tit_sandwich {background-position:-250px -120px;}/* ������移� */
.page_title .tit_beverage {background-position:-250px -160px;}/* ��猷� */
.page_title .tit_etc {background-position:-250px -200px;}/* 湲고�� */
.page_title .tit_character {background-position:-250px -240px;}/* 罹�由��곗���� */
.page_title .tit_salad {background-position:-249px -280px} /* ���щ�� */
.page_title .tit_soup {background-position:-249px -321px} /* ���� */
.page_title .tit_deli {background-position:-503px -80px} /* �몃━ */
.page_title .tit_gift {background-position:-503px -120px} /* ��臾� */
.page_title .tit_dessert {background-position:-503px -160px} /* ������&amp;�ㅻ�� */


/* �щ��댁�쇨린 */
.page_title .tit_summary {width:237px;background-position:-500px 0px;} /* �щ��댁�쇨린 媛��� */
/* �대깽��&硫ㅻ��� */
.page_title .tit_event {background-position:-750px 0px;}/* �대깽�� */
.page_title .tit_prize {background-position:-750px -40px;}/* �대깽�� �뱀꺼�� */
.page_title .tit_membership {float:none;width:166px;padding:0;background-position:-750px -80px;}/* CJ ONE 硫ㅻ��� */
.page_title .tit_benefit {background-position:-750px -120px;}/* ���댄���� */
.page_title .tit_giftcard{background-position:-750px -161px;}/* 湲고���몄뭅�� */
/* ���몃��� */
.page_title .tit_store_info {background-position:0 -500px;}/* 留ㅼ�μ���� */
.page_title .tit_cs {background-position:0 -540px;}/* 怨�媛��쇳�� */
.page_title .tit_franchise {background-position:0 -580px;}/* 李쎌������ */
.page_title .tit_job {background-position:0 -620px;}/* 湲곗�ъ��⑹���� */
.page_title .tit_mypage {background-position:0 -660px;}/* 留��댄���댁� */
/* �명�곕��� */
.page_title .tit_agreement {background-position:0px -1080px;}/* �댁�⑹�쎄� */
.page_title .tit_individual {background-position:0px -1160px;}/* 媛��몄��蹂댁랬湲�諛⑹묠 */
.page_title .tit_collect {background-position:0px -1200px;}/* �대��쇰Т�⑥��吏�嫄곕� */
.page_title .tit_legal {background-position:-1px -1280px;}/* 踰���怨�吏� */
.page_title .tit_sitemap {background-position:0px -1320px;}/* �ъ�댄�몃㏊ */
.page_title .tit_search_store {background-position:0 -115px;}/* 留ㅼ�κ��� */
.page_title .tit_login {background-position:0px -700px;}/* 濡�洹몄�� */
.page_title .tit_member {background-position:0px -780px;}/* �����쎄����� */
.page_title .tit_srch_result {background-position:0px -740px;}/* 寃���寃곌낵 */
.page_title .tit_management {background-position:0 -820px} /* 媛��몄��蹂닿�由� */
.page_title .tit_agree {background-position:0 -860px} /* 媛��몄��蹂닿�由� ���� */

/* 由ъ�ㅽ�� 肄���痢� */
.list_1 {margin:0;padding:0;}
.list_1 li {padding:0 0 10px 8px;background:url("../images/common/tit_common.png") no-repeat 0 -1493px;font-size:11px;font-family:"����";line-height:15px;letter-spacing:-1px;}
.list_2 {margin:0;padding:0;}
.list_2 li {padding:0;font-size:13px;line-height:24px;letter-spacing:-1px;}
.list_2 li span {display:inline-block;width:16px;height:12px;}
/* ���대� */
.table_h {margin:0;}
.table_h table {width:100%;border-bottom:1px solid #d7d4d0;}
.table_h table caption {display:none;}
.table_h table .thead th {padding:20px 0;}
.table_h table th {padding:10px 0 10px 0;background:#ecefe4;font-size:13px;color:#000;font-weight:bold;text-align:center;}/* 20160818 */
.table_h table td {padding:20px 0 19px 0;font-size:13px;color:#333;text-align:center;}
.table_h table td a {color:#555;}
.table_h table .coupon {display:inline-block;width:254px;height:71px;background:url("../images/common/common.png") -141px -567px no-repeat;text-align:center;}
.table_h table .coupon span {display:inline-block;padding-top:0;font-size:12px;color:#625441;font-weight:700;}
.table_h table .coupon span.txt_shape {padding:17px 0 12px 0;font-size:11px;color:#7c634e;}
.table_h table .none {padding:47px 0 48px 0;}
.table_h table .tit {text-align:left;text-indent:20px;}
.table_h_2 {margin:0;}
.table_h_2 table {width:100%;border-bottom:1px solid #d7d4d0;}
.table_h_2 table caption {display:none;}
.table_h_2 table .thead th {padding:20px 0;}
.table_h_2 table th {padding:15px 0 15px 0;background:#ecefe4;font-size:13px;color:#000;font-weight:bold;text-align:center;}/* 20160818 */
.table_h_2 table td {padding:20px 0 19px 0;font-size:13px;color:#333;text-align:center;}
.table_h_2 table td a {color:#555;}
.table_h_2 table .none {padding:47px 0 48px 0;font-size:18px;color:#000;font-weight:700;}
.table_h_3 {margin:0 0 30px 0;min-height:514px;}
.table_h_3 table {width:100%;border-bottom:1px solid #d7d4d0;}
.table_h_3 table caption {display:none;}
.table_h_3 table .thead th {padding:20px 0;}
.table_h_3 table th {padding:18px 0 18px 0;background:#ecefe4;font-size:15px;color:#000;font-weight:bold;text-align:center;}/* 20160818 */
.table_h_3 table td {padding:15px 0 15px 0;border-bottom:1px solid #e8e6e2;font-size:13px;color:#333;text-align:center;}
.table_h_3 table td a {color:#555;}
.table_h_3 table .coupon {display:inline-block;width:182px;height:71px;background:url("../images/common/common.png") -246px -227px no-repeat;text-align:center;}
.table_h_3 table .coupon span {display:inline-block;padding-top:36px;font-size:18px;color:#625441;font-weight:700;}
.table_h_3 table .none {padding:47px 0 48px 0;}
.table_h_3 table .tit {text-align:left;text-indent:20px;}
.tip_notice {display:inline-block;width:68px;height:25px;background:url("../images/common/common.png") no-repeat left -277px;font-size:0;}
.table_h.tal td {text-align:left;padding:12px 15px 12px 15px;}
/* table-from */
table.tbl-write {width:100%;table-layout:fixed;}
table.tbl-write th {padding:6px 10px 19px 0;font-size:14px;text-align:left;color:#000;vertical-align:top;}
table.tbl-write td {padding:0 0 19px 0;text-align:left;color:#777;}
table.tbl-write td .tip {clear:both;padding:9px 0 0 0;font-size:11px;font-family:"����";}
table.tbl-write td a.btn {float:left;width:87px;height:27px;line-height:27px;}/* 201607 */
table.tbl-write td a.btn:focus,
table.tbl-write td a.btn:hover,
table.tbl-write td a.btn.on {color:#ffffff;border:1px solid #184f3b;background-color:#184f3b;}/* 201607 */
table.tbl-write td .btn_more a {
	display:inline-block;width:31px;height:30px;padding:0;border:1px solid #99918b;font-size:0;
	background:transparent url("../images/common/common.png") no-repeat -387px -328px;
	-webkit-transition-duration:0.5s;
	-moz-transition-duration:0.5s;
	-ms-transition-duration:0.5s;
	-o-transition-duration:0.5s;
	transition-duration:0.5s;
}
table.tbl-write td .item {overflow:hidden;}
table.tbl-write td .name {height:19px;margin:0;border:none;color:#666;line-height:20px;text-indent:10px;}/* 20160826 */
table.tbl-write #csOrderNoTr td{position: relative;}
table.tbl-write #csOrderNoTr td .input_info-txt{position: absolute;left: 0;top: 35px;}

.item_box {height:29px;}
.item_2 {padding:5px 0 0 0;line-height:18px;}
.item_2 input {width:19px;height:19px;margin:0 2px 0 0;vertical-align:top;}
.item_2 label {padding:0 34px 0 0;color:#555;font-size:14px;}
.item_3 {overflow:hidden;padding:0 0 5px 0;}
.item_3 .ip {float:left;}
.closed {display:inline-block;margin-top:6px;font-size:14px;line-height:16px;}
.item_4 {overflow:hidden;padding:0 0 0 0;}
.item_5 {overflow:hidden;padding:0 0 5px 0;}
.item_5 label {float:left;display:inline-block;width:85px;padding-top:7px;color:#777;font-size:14px;}
/* Box Type */
.box_type1 {border:1px solid #e8e6e2;text-align:center;}
.box_type1 > ul {padding:50px;border:4px double #e8e6e2;}
.box_type1 > .inner-box {padding:34px 40px 21px; border:4px double #e8e6e2}
.box_type2 {border:1px solid #e8e6e2;background:transparent;text-align:center;}
.box_type2 > ul {padding:50px 0;}
.box_type2 .p1 {padding-bottom:20px;font-size:16px;color:#563c27;}
.box_type3 {border:2px solid #e8e6e2;background:transparent;text-align:center;}
.box_type3 > ul {padding:50px 0;}
.box_type3 .p1 {padding-bottom:20px;font-size:16px;color:#563c27;}
.box_wrap {padding:50px;background:#fff;}
.box_wrap .box_type1 h3 {margin-bottom:13px;font-size:22px;color:#563c27;text-align:center;}
.box_wrap .box_type1 p {color:#696057;}
.box_wrap .box_type1 li:first-child {margin-bottom:42px;}
.box_wrap .box_type1 li:first-child dl dt,
.box_wrap .box_type1 li:first-child dl dd {font-size:0;}
.box_wrap .column_type1 dl {text-align:center;}
.column_type1 {display:inline-block;width:100%;}
.column_type1 > dl {float:left;width:263px;}
.column_type1 > dl:first-child {margin-left:0px;}
.column_type1 > dl dt {display:inline-block;width:100%;height:17px;margin-bottom:12px;padding-top:102px;font-size:19px;color:#3c342c;font-weight:700;}
.column_type1 > dl dd {font-size:13px;color:#696057;line-height:20px;letter-spacing:-1px;}
.column_type1 > dl dd .btn {margin-top:18px;width:78px;}/* 201607 */
.column_type1 > dl dd .btn.st7:focus,
.column_type1 > dl dd .btn.st7:hover,
.column_type1 > dl dd .btn.st7.on {color:#ffffff;border:1px solid #184f3b;background-color:#184f3b;}/* 201607 */
.column_type1 .faq dt {background:url("../images/etc/customer.png") -259px -40px no-repeat;}
.column_type1 .consult dt {background:url("../images/etc/customer.png") -553px -40px no-repeat;}
.column_type1 .consult_list dt {background:url("../images/etc/customer.png") -849px -40px no-repeat;}
.box_type_shaper {position:relative;background:#fff;border:1px solid #e3dfdf;padding:4px;}
.box_type_shaper_in {padding:44px 45px 44px 45px;border:1px solid #e3dfdf;}
.box_type_shaper_in_2 {padding:30px 35px 11px 35px;border:1px solid #e3dfdf;}
.box_type_shaper .lt {position:absolute;top:-1px;left:-1px;width:12px;height:12px;background:url("../images/common/common.png") no-repeat 0 -145px;}
.box_type_shaper .rt {position:absolute;top:-1px;right:-1px;width:12px;height:12px;background:url("../images/common/common.png") no-repeat -13px -145px;}
.box_type_shaper .lb {position:absolute;bottom:-1px;left:-1px;width:12px;height:12px;background:url("../images/common/common.png") no-repeat -26px -145px;}
.box_type_shaper .rb {position:absolute;bottom:-1px;right:-1px;width:12px;height:12px;background:url("../images/common/common.png") no-repeat -39px -145px;}
/* List Type */
.cnt_list1 > h3 {margin:40px 0 13px 0;font-size:17px;color:#000;}
.cnt_list1 > h3:first-child {margin:0 0 13px 0;}
.cnt_list1 > ul {margin:20px 0 10px;}
.cnt_list1 > ul li {position: relative; padding:0 0 0 15px;font-size:13px;line-height:23px;    letter-spacing: -0.2px;}
.cnt_list1 > ul li:before{content: '-';position: absolute;top:0px;left:0;}
.list_type1 {margin-bottom:40px;letter-spacing:-1px;}
.list_type1 .h1 {margin-bottom:13px;font-size:17px;color:#000;}

.list_type1 > ul {margin-bottom:15px;}
.list_type1 > ul > li {margin-bottom:3px;/*padding-left:12px;*/font-size:12px;color:#666;font-family:"����",Arial;}
.list_type1 .depth2 {margin:11px 0 15px 0;padding-left:8px;}
.list_type1 .depth2 .h3 {margin-bottom:7px;padding-left:0;background:none;color:#000;font-weight:bold;}
.list_type1 .depth2 li {margin-bottom:5px;padding-left:5px;background:url("../images/shop/shop.png") -989px -11px no-repeat;}
.list_type1 dl {margin-bottom:37px;}
.list_type1 dt {margin-bottom:13px;font-size:17px;color:#000;}
.list_type1 dd {margin-bottom:7px;font-size:13px;color:#666;font-family:"����",Arial;line-height:22px;}
.list_type2 {margin-bottom:37px;letter-spacing:-1px;}
.list_type2 dl {margin-bottom:40px;padding-left:8px;font-family:"����",Arial;}
.list_type2 dl dt {margin-bottom:5px;color:#000;font-weight:bold;}
.list_type2 dl dd {color:#000;line-height:20px;}
.list_type2 .h1 {margin-bottom:13px;font-size:17px;color:#000;}
.list_type2 .h2 {font-weight:bold;padding-left:0;}
.list_type2 ul {margin-bottom:13px;}
.list_type2 ul li {padding-left:12px;font-size:12px;color:#666;font-family:"����",Arial;line-height:21px;}
.list_type2 ul li:first-child {padding-left:0;text-indent:0;}
.list_type2 .im {padding-left:0;color:#000;font-weight:bold;}
.list_type3 {margin-bottom:37px;}
.list_type3 .h1 {margin-bottom:13px;font-size:17px;color:#000;}
.list_type3 .h2 {margin-bottom:20px;font-size:21px;color:#666}
.list_type3 > ul {width:100%;margin-bottom:15px;background:#fff;}
.list_type3 > ul > li {display:inline-block;padding:40px;}
.list_type3 .floatleft {width:400px;padding-right:50px;border-right:1px solid #e1dddd;}
.list_type3 .floatright {width:400px;padding-left:50px;}
*:first-child+html .list_type3 .floatright {width:412px;padding-left:50px;}
.list_type3 dt:first-child {margin-top:0;}
.list_type3 dt {margin-top:20px;margin-bottom:7px;font-size:13px;color:#000;font-weight:700;}
.list_type3 dd {font-size:13px;color:#666;line-height:22px;}
.is-indent {display:inline-block; padding-left:9px; text-indent:-9px}
.is-indent1 li,
.is-indent1 dd {padding-left:11px; text-indent:-11px}

/* search */
.search_from {overflow:hidden;}
.search_from input {float:left;width:232px;height:18px;padding:7px 0 7px 10px;font-size:12px;line-height:22px;vertical-align:middle;}
.search_from .btn {width:52px;}/* 201607 */
.search_from_2 {overflow:hidden;}
.search_from_2 input {float:left;width:232px;height:32px;padding:0 0 0 10px;outline:0 none;}/* 201607 */
.search_from_2 .btn {float:left;width:70px;}/* 201607 */

/* Layout */
#wrap {position:relative;min-width:1000px;}/* 201607 */
#header {position:absolute;left:0;top:0;width:100%;min-height:147px;z-index:110;}/* 201607 */
#header:after {content:"";display:block;position:absolute;top:103px;left:0;width:100%;height:1px;background-color:#fff;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=20);opacity:0.2;z-index:10;}/* 201607 */
.ingredient #header {position:absolute;left:0;top:0;width:100%;height:auto;background:none;z-index:110;}/* 201607 */
.headerWrap {position:relative;width:1000px;margin:0 auto;z-index:10;}
.main #header {height:147px;background:none;}/* 201607 */
.sub #header {height:auto;}/* 201607 */
.sub #header.cake {background:#161c2a url("../images/common/bg_sub_visual_cake.jpg") center top no-repeat;}
.sub #header.beverage {background:#211915 url("../images/common/bg_sub_visual_beverage.jpg") center top no-repeat;}
.sub #header.etc {background:#2a190e url("../images/common/bg_sub_visual_etc.jpg") center top no-repeat;}
.sub #header.sandwich {background:#261d14 url("../images/common/bg_sub_visual_sandwich.jpg") center top no-repeat;}
.container {padding:230px 0 50px 0;}/* 201607 */
.ingredient .container {padding-top:0px;}
.sub .container {padding-top:230px;}/* 201607 */
.container:after {content:"";clear:both;display:block;}
#content,#content2,#content2-1 {position:relative;width:1000px;margin:0 auto;}
#footer {position:absolute;width:100%;}/* 201607 */
.footerWrap {height:100%;padding-bottom:40px;background-color:#2e2f2e;}/* 201607 */
.footerWrap > ul {position:relative;width:1000px;margin:0 auto;padding-top:30px;}
.main #footer {width:100%;height:280px;margin-top:inherit;overflow:hidden;}
/* Top */
.logo {position:absolute;top:33px;left:50%;margin-left:-144px;width:286px;height:37px;z-index:0;}/* 20160824 */
.logo a {display:inline-block;width:100%;height:100%;font-size:0;}

/* 2015-05-06 �몄�ㅽ��洹몃�� 異�媛� start */
.top_search {position:absolute;left:160px;top:39px;width:220px;z-index:0;}/* 201607 */
.top_search .ipt02 {display:inline-block;outline:0 none;}/* 201607 */
.top_search .btn_search {display:inline-block;width:32px;height:32px;overflow:hidden;}
.top_search .btn_close {display:none;}
.top_search .btn_close a {display:inline-block;width:11px;height:11px;margin:10px 0 0 8px;background:url("../images/common/common.png") -533px -253px no-repeat;font-size:0;}
.headerWrap .sns {position:absolute;top:44px;left:0;width:200px;z-index:0;}/* 201607 */
.headerWrap .sns a {float:left;display:inline-block;margin-right:29px;background:url("../images/common/common.png") left top no-repeat;font-size:0;color:#32271d;}
.headerWrap .sns .facebook {width:9px;height:19px;background-position:-20px -45px;}
.headerWrap .sns .twitter {width:12px;height:19px;background-position:-39px -45px;}
.headerWrap .sns .blog {width:14px;height:19px;background-position:-61px -45px;margin-right:25px;}
.headerWrap .sns .instagram {width:19px;height:19px;background-position:-20px -104px;margin-right:0;}
/* 2015-05-06 �몄�ㅽ��洹몃�� 異�媛� end */

.headerWrap .sns img {vertical-align:top;}
/* 201607 start */
.tnb {position:absolute;top:43px;right:0;z-index:0;}
.tnb > li > a {float:left;display:inline-block;margin:6px 0 0 12px;padding-bottom:1px;background:url("../jsp_prj/src/main/webapp/project_tr/images/login_btn.png") left top no-repeat;font-size:0;color:#32271d;overflow:hidden}
.tnb > li > a:hover {border-bottom:1px solid #875a2b}
.tnb .tnb_login {width:55px;height:24px;margin:0 0 -1 8px;background-position:-299px -38px;border:0 none;z-index:0;}
.tnb .tnb_login:hover {border-bottom:0}
.tnb .tnb_logout {width:59px;height:24px;margin:0 0 0 8px;background-position:-300px 0px;border:0 none;z-index:0;}
.tnb .tnb_store {width:48px;height:20px;background-position:0px 0px; margin: 0 0 -1}
.tnb .tnb_customer {width:48px;height:20px;background-position:0px -40px;}
.tnb .tnb_shop_customer {width:43px; height:13px; background-position:0px -280px}/* 2016-09-13 *//* 2023-03-27 ���� */
.tnb .tnb_foundation {position:absolute; right:-75px; top:-49px; width:63px; height:68px; background:url("../images/common/menu_point.png") no-repeat 0 0}
.tnb .tnb_recruit {width:68px;height:13px;background-position:0px -120px;}
.tnb .tnb_mypage {width:49px;height:13px;background-position:0px -160px;}
.tnb .tnb_order_inquiry {width:64px;height:13px;background-position:0px -200px;}
.tnb .tnb_use_guide {width:45px;height:13px;background-position:0px -240px;}
.tnb .tnb_store:hover {background-position:-150px 0px;}
.tnb .tnb_customer:hover {background-position:-150px -40px;}
.tnb .tnb_shop_customer:hover {background-position:-150px -280px}/* 2016-09-13 */
/*.tnb .tnb_foundation:hover {background-position:-150px -80px;}*/
.tnb .tnb_recruit:hover {background-position:-150px -120px;}
.tnb .tnb_mypage:hover {background-position:-150px -160px;}
.tnb .tnb_order_inquiry:hover {background-position:-150px -200px;}
.tnb .tnb_use_guide:hover {background-position:-150px -240px;}
/* //201607 end */

/* GNB */
.gnb_dim {position:absolute;left:0;top:0;width:100%;height:147px;background-color:#0d4633;z-index:10;}/* 20160824 */
.gnb_dim2 {display:none;position:absolute;left:0;top:147px;width:100%;height:0;background:url("../images/common/bg_gnb_over.png") 0 100% repeat;z-index:10;}/* 201607 */
.gnb {position:absolute;left:0;top:104px;width:1000px;height:43px;background:transparent;text-align:center;z-index:50;}/* 201607 */
.gnb > ul {display:inline-block;width:100%;}
.gnb > ul > li {float:left;display:inline-block;width:200px;text-align:center;vertical-align:top;}/* 201607 */
.gnb .depth1 a,
.gnb .depth2 a {display:inline-block;}
.gnb .depth1 {display:inline-block;width:100%;height:18px;padding:13px 0 11px 0;background:url("../images/common/gnb.png?v230327") left top no-repeat;font-size:0;}
.gnb .depth1:first-child {margin-left:0;}
.gnb .depth2 {display:none;height:0;text-align:left;}/* 201607 */
.gnb .depth2 li {height:14px;margin-bottom:6px;}
.gnb .depth2 li:first-child {padding-top:8px;}
.gnb .depth2 a {display:inline-block;width:100%;font-size:12px;text-decoration:none;color:#cddcd5;font-weight:normal}/* 201607 */
.gnb .depth2 a:hover,
.gnb .depth2 a:focus,
.gnb .depth2 a.on {font-size:13px; color:#f26b24; font-weight:700}/* 201607 */


/* GNB start */
/* 釉����� �ㅽ��由� */
.gnb > ul > li.gnb_brand {width: 145px;}
.gnb .gnb_brand .depth1 {width:77px;background-position:0px 0px;}
.gnb .gnb_brand .depth1:hover,
.gnb .gnb_brand .depth1:focus,
.gnb .gnb_brand .depth1.on {background-position:-300px 0px;}
.gnb .gnb_brand .depth2 {margin-left:33px;}
/* �������� */
.gnb > ul > li.gnb_product {width: 110px;}
.gnb .gnb_product .depth1 {width:30px;background-position:0px -50px;}
.gnb .gnb_product .depth1:hover,
.gnb .gnb_product .depth1:focus,
.gnb .gnb_product .depth1.on {background-position:-299px -50px;}
.gnb .gnb_product .depth2 {margin-left:40px;}
/* ��濡���吏� ����伊щⅤ *//* 20160817 */
.gnb > ul > li.gnb_bread {width: 160px;}
.gnb .gnb_bread .depth1 {width:120px;background-position:0px -100px;}/* 20160817 */
.gnb .gnb_bread .depth1:hover,
.gnb .gnb_bread .depth1:focus,
.gnb .gnb_bread .depth1.on {background-position:-300px -100px;}
.gnb .gnb_bread .depth2 {margin-left:20px}
/* �대깽��&硫ㅻ��� */
.gnb > ul > li.gnb_event {width: 160px;}
.gnb .gnb_event .depth1 {width:97px;background-position:0px -150px;}
.gnb .gnb_event .depth1:hover,
.gnb .gnb_event .depth1:focus,
.gnb .gnb_event .depth1.on {background-position:-300px -150px;}
.gnb .gnb_event .depth2 {margin-left:31px}
/* ����伊щⅤ ��&�⑤�쇱�� �쇳��紐� */
.gnb > ul > li.gnb_shop {width: 210px;}
.gnb .gnb_shop .depth1 {width:180px;background-position:0px -550px;}
.gnb .gnb_shop .depth1:hover,
.gnb .gnb_shop .depth1:focus,
.gnb .gnb_shop .depth1.on {background-position:-300px -550px;}
.gnb .gnb_shop .depth2 {margin-left:15px}
/* ����伊щⅤ ���댄����&湲고���몄뭅�� */
.gnb > ul > li.gnb_giftcard {width: 210px;}
.gnb .gnb_giftcard .depth1 {width:142px;background-position:0px -750px;}
.gnb .gnb_giftcard .depth1:hover,
.gnb .gnb_giftcard .depth1:focus,
.gnb .gnb_giftcard .depth1.on {background-position:-299px -750px;}
.gnb .gnb_giftcard .depth2 {margin-left:35px}

/* //GNB end */

/* 媛������� gnb 2016-04-19 */
.gnb.family .depth1 {background-image:url("../images/common/gnb_family.png")}

/* Footer */
.footerWrap > ul > li {clear:both;}
.footerWrap > ul > li + li {margin-top:30px;}/* 2023-07-13 ���� */
.family_site {width:100%;height:67px;border-top:1px solid #cac0b6; background-color:#f7f0da}
.family_site ul {overflow:hidden;margin:0 auto;height:66px;}/* 201607 */
.family_site li {padding-top:8px;}/* 2014-12-03 ���� */
.family_site a {float:left;/*margin-left:11px;*/margin:0 5px;background:url("/CJFVfooter/total_brand/images/tlj/common.png?v2203") left top no-repeat;font-size:0;}/* 2014-12-03 ���� */
/*.family_site a:first-child {margin-left:0;}*/
.family_site .cj_foodville {width:55px;height:27px;margin-top:5px;background-position:-590px -266px;}
.family_site .vips {width:40px;height:24px;margin-top:10px;background-position:-650px -268px;}
.family_site .towsome_d {width:85px;height:20px;margin-top:14px;background-position:-702px -274px;}
.family_site .bibigo {width:52px;height:22px;margin-top:10px;background-position:-799px -270px;}
.family_site .cold_stone {width:66px;height:15px;margin-top:12px;background-position:-583px -339px;}
.family_site .china_factory {width:34px;height:30px;margin-top:4px;background-position:-658px -330px;}
.family_site .the_place {width:47px;height:23px;margin-top:6px;background-position:-701px -333px;}
.family_site .cheil {width:59px;height:14px;margin-top:10px;background-position:-761px -338px;}
.family_site .vips_burger {width:38px;height:24px;margin-top:5px;background-position:-832px -332px;}
.family_site .towsome_coffee {width:62px;height:13px;margin-top:12px;background-position:-583px -406px;}
.family_site .thesteak {width:74px;height:16px;margin-top:10px;background-position:-657px -404px;}
.family_site .seasons_table {width:50px;height:16px;margin-top:10px;background-position:-745px -404px;}
.family_site .bibigo_dadam {width:50px;height:44px;margin-top:0px;background-position:-808px -392px;}
.family_site .uo {width:51px;height:17px;margin-top:10px;background-position:-583px -471px;}
.family_site .mongjungheon {width:17px;height:37px;margin-top:0;background-position:-649px -461px;}
.family_site .ngrill {width:58px;height:13px;margin-top:13px;background-position:-670px -474px;}
.family_site .foodworld {width:102px;height:13px;margin-top:13px;background-position:-1000px -671px;}
.family_site .ntower {width:68px;height:30px;margin-top:6px;background-position:-1127px -665px;}/* 2014-12-01 異�媛� */
.family_site .china_factoryd {width:68px;height:30px;margin-top:6px;background-position:-885px -331px;}/* 2014-12-03 異�媛� */
.family_site .juice_solution {width:81px;height:19px;margin-top:12px;background-position:-865px -270px;}
.family_site .busan_tower {width:74px;height:27px;margin-top:12px;background-position:-860px -401px;position:relative;top:-7px;}/* 2017-10-27 異�媛� */
.footerWrap .sns {position:absolute;right:0;top:28px;z-index:0;}
.footerWrap .sns a {display:inline-block;margin-left:33px;background:url("../images/common/common.png") left top no-repeat;font-size:0;color:#32271d;}
.footerWrap .sns .facebook {width:9px;height:19px;background-position:-20px -75px;}
.footerWrap .sns .twitter {width:12px;height:19px;background-position:-38px -75px;}
.footerWrap .sns .blog {width:14px;height:19px;background-position:-61px -76px;}
.fnb::after {content:'';display:block;clear:both;}/* 2023-07-13 ���� */
.fnb li {float:left;padding-left:24px;background:url("../images/common/common.png") -531px -60px no-repeat;margin-bottom:10px;}/* 2023-07-13 ���� */
.fnb li:first-child {padding-left:0;background:none;}
.fnb a {display:inline-block;}/* 201607 */
.fnb .company {width:49px;height:13px;background-position:-10px -68px;}
.fnb .recruit {width:76px;height:13px;background-position:-83px -68px;padding:0;}/* 2023-07-13 ���� */
.fnb .clause {width:49px;height:13px;background-position:-182px -68px;}
.fnb .foundation {width:50px;height:13px;background-position:-255px -68px;}
.fnb .privacy {width:100px;height:13px;background-position:-328px -68px;}
.fnb .email {width:113px;height:13px;background-position:-451px -68px;}
.fnb .ethic {width:75px;height:13px;background-position:-586px -68px;}
.fnb .legal {width:49px;height:13px;background-position:-685px -68px;}
.fnb .sitemap2 {width:50px;height:13px;background-position:-756px -68px;}
/* 201607 start */
.footerWrap .info {position:relative;width:auto;height:auto;}
.footerWrap .info img {vertical-align:top;}
.footerWrap .info span {display:block;margin-right:3px;height:20px;vertical-align:top;}
.footerWrap .info address {display:block;height:20px;vertical-align:top;}
.footerWrap .info .business-name {float:left;}
.footerWrap .info .cs-center {float:left;margin-right:19px;}
.footerWrap .info .certificate {float:left; margin-right:15px}
.footerWrap .info .certificate a {position:relative;top:-3px;margin-left:6px;vertical-align:top}
.footerWrap .info .hosting {color:#bfbbb3; font-weight:bold}
.footerWrap .info .business-num {float:left;}
.footerWrap .info .ceo {float:left;margin-right:19px;}
.footerWrap .info .manager {float:left;margin-right:19px;}
.footerWrap .copyright {width:auto; height:auto; margin-top:18px; background-image:none; color:#e4dfd5}
/* //201607 end */
.footerWrap .mark {display:inline-block;position:absolute;right:1px;top:82px;z-index:0;}
.footerWrap .mark a,
.footerWrap .mark span {display:inline-block;font-size:0;}
.footerWrap .mark .wa {width:71px;height:47px;margin-top:54px;background:url("../images/common/common.png") left top no-repeat;background-position:-583px -156px;}
.footerWrap .mark .kcp {width:288px;height:90px;margin-left:6px;background:url("../images/common/menu.png") -712px -91px no-repeat;}
.footerWrap .mark .kcp a {display:inline-block;width:288px;height:90px;}
/*.footerWrap .bann {position:absolute; top:82px; left:487px}*//* 2016-12-20 */
.footerWrap .bann {position:absolute; top:150px; left:380px}/* 2017-06-30 */
/* Common */
/* 201607 start */
.lb_best {display:inline-block;width:94px;height:94px;background:url("../images/shop/shop.png?v2001") -87px -10px no-repeat;font-size:0;}
.lb_best2 {display:inline-block;position:absolute;right:15px;bottom:15px;width:59px;height:61px;background:url("../images/common/tag.png") -100px 0 no-repeat;font-size:0;z-index:10;}
.lb_best3 {display:inline-block;position:absolute;left:15px;bottom:32px;width:93px;height:96px;background:url("../images/common/tag.png") -100px -100px no-repeat;font-size:0;z-index:10;}
.lb_new {display:inline-block;position:absolute;right:15px;bottom:15px;width:59px;height:61px;background:url("../images/common/tag.png") 0 0 no-repeat;font-size:0;z-index:10;}
.lb_new2 {display:inline-block;position:absolute;left:15px;bottom:32px;width:93px;height:96px;background:url("../images/common/tag.png") 0 -100px no-repeat;font-size:0;z-index:10;}
/* //201607 end */
.lb_recomm {display:inline-block;width:122px;height:63px;font-size:0;overflow:hidden;}/* 201607 */
.title {position:relative;height:40px;margin:-38px 0 40px 0;line-height:41px;}
.title h2 {font-size:20px;color:#604935;text-align:center;}
.title .btn_list {position:absolute;left:0;top:5px;z-index:10;}

.line_top {background:url("../images/common/bg_cnt_top.png") left top repeat-x;}
.line_top2 {background:url("../images/common/bg_cnt_top2.png") left top repeat-x;}
.page_top {position:relative;top:147px;left:0;margin:0 auto;width:1000px;z-index:0;}/* 201607 */
.path {position:absolute;top:34px;right:0;padding:14px 0 10px 0;text-align:right;z-index:1;}/* 201607 */
.path li {display:inline-block;}
.path a {display:inline-block;padding-left:17px;height:14px;font-size:14px;color:#666;background:url("../images/common/arrow_path.png") 7px 3px no-repeat;}/* 201607 */
.path a:first-child {padding-left:0;background:none;}
.path a:last-child {text-decoration:none;}/* 201607 */
.path a:hover {text-decoration:underline;}
.txt_shape {display:inline-block;position:relative;padding:0 20px;margin:0 auto;width:auto;min-width:44px;height:16px;line-height:18px;font-size:13px;color:#4e4e4e;border-bottom:0 none;background-color:#ccbea5;}/* 201607 */
.txt_shape:after {content:"";display:block;position:absolute;top:0;right:0;padding-right:5px;width:11px;height:16px;background:#fff url("../images/common/tag_prd_type.png") 100% 0 no-repeat;}
.txt_shape:before {content:"";display:block;position:absolute;top:0;left:0;padding-left:5px;width:11px;height:16px;background:#fff url("../images/common/tag_prd_type.png") 0 0 no-repeat;}
.line_double {padding-bottom:2px;border-bottom:1px solid #e8e6e2;font-size:20px;color:#895f18;text-align:center;}
.line_double > ul {border-bottom:2px solid #e8e6e2;}
.product_list ul .item_wrap .over .btn-area {display:block;text-align:center;}/* 201607 */
.product_list.best	ul .item_wrap .over .btn-area .btn {width:60px;}/* 201607 */
.product_list2 .btn_more2 {display:inline-block;}
.product_list2 .btn_more2 a.btn {width:64px;height:21px;line-height:22px;}/* 201607 */
/* .product_list2 .btn_more2 a.btn:focus,
.product_list2 .btn_more2 a.btn:hover,
.product_list2 .btn_more2 a.btn .on {color:#e5e2cd;border:1px solid #7d4f3a;background-color:#7d4f3a;} *//* 20160818 */

/* ���댁� */
.paging {overflow:hidden;padding:0 0 39px 0;text-align:center;}
.paging span {display:inline-block;width:20px;height:23px;margin:0 2px 0 0;padding:0;border-bottom:1px solid transparent;}
.paging span.current {display:inline-block;width:20px;height:23px;padding:0;border-bottom:1px solid #4f3e2f;font-weight:bold;color:#543526;text-align:center;vertical-align:middle;}
.paging span:hover {border-bottom:1px solid #4f3e2f;}
.paging a {display:inline-block;width:20px;height:23px;padding:0;text-align:center;vertical-align:middle;color:#666;text-decoration:none;}
.paging a img {vertical-align:top}
.paging .first {display:inline-block;width:12px !important;height:23px;margin:0 24px 0 0;padding:0;background:url("../images/common/common.png?v2203") -507px -59px no-repeat;vertical-align:middle;font-size:0;line-height:0;}
.paging .next {display:inline-block;width:12px !important;height:23px;margin:0 0 0 20px;padding:0;background:url("../images/common/common.png?v2203") -519px -59px no-repeat;vertical-align:middle;font-size:0;line-height:0;}
.paging .first:hover,
.paging .next:hover {border-color:transparent}
/* ����*/
#modalOverlay {position:fixed;top:0;left:0;display:none;width:100%;height:100%;margin:0;padding:0;background:#000;filter:alpha(opacity=50);opacity:0.5;-moz-opacity:0.5;z-index:110;}
#modal {position:absolute;top:25%;left:25%;display:none;margin-left:auto;margin-right:auto;z-index:300;}
.pop_wrap {position:absolute;left:50%;margin-left:0;background:#fff;z-index:120;}
.pop_close {position:absolute;right:10px;top:10px;z-index:0;width:21px;height:21px;background:url("../images/common/btn_pop_close.png") no-repeat 0 0;}/* 201607 */
.pop_close a {display:inline-block;width:21px;height:21px;text-indent:-999em;}
.pop_header {padding:11px 22px;font-size:18px;color:#fff;background:#13523c;}/* 20160818 */
.pop_content {padding:20px;}
.pop_add_tit {float:left;padding:8px 0 0 0;font-size:17px;}
.sns_info {float:right;padding:5px 0 8px 0;}
.pop_store {margin-left:-298px;}
.pop_store .search_from_2 a.btn {height:30px;line-height:30px;}/* 201607 */
.pop_map {clear:both;width:557px;height:278px;margin:0 0 31px 0;}
.pop_store_info {float:left;}
.pop_store_info table {}
.pop_store_info table th {padding:0 0 13px 0;font-weight:bold;}
.pop_store_info table td {padding:0 0 13px 0;}
.btn_print {float:right;}
.btn_print .btn {width:96px;height:70px;line-height:70px;font-size:18px;}/* 20160804 */
.btn_print .btn:focus,
.btn_print .btn:hover,
.btn_print .btn.on {color:#ffffff;text-decoration:none;border:1px solid #184f3b;background-color:#184f3b;}/* 20160804 */
.btn-area.half {margin:20px auto 0 auto;width:348px;}/* 201607 */
.notice-layer {position:absolute; top:15px; left:45px; z-index:100}
.notice-layer .btn-area {padding:12px 20px 10px; background-color:#33322f; zoom:1}
.notice-layer .btn-area:after {content:""; display:block; clear:both}
.notice-layer .btn-area a {float:right; color:#fff}
.notice-layer .btn-area a:first-child {float:left}
.notice-layer .btn-area a:hover {text-decoration:none}

/* shop main floating banner */
.floating-banner.is-shop {position:fixed; top:35%; left:50%; z-index:60; margin-left:266px;
	animation:floatingBanner 3s ease infinite
}
.floating-banner.is-shop:hover {animation-play-state:paused}
.floating-banner.is-shop .btn-closed {position:absolute; top:30px; right:0; width:28px; height:28px}

/* s: floating mouse */
.floating-banner.is-shop .mouse a:before {content:""; display:block; position:absolute; top:-50px; left:27px; width:110px; height:110px; background:url(/static/images/banner/bg_floating2001.png) no-repeat 0 0;
	animation:mouse 5s linear infinite
}
.floating-banner.is-shop .mouse a img {position:relative; z-index:3}

@keyframes mouse {
	0%, 20%, 90%, 100% {transform:translate(0, 92px) rotate(0); opacity:0}
	30% {transform:translate(0, 0) rotate(0); opacity:1}
	38% {transform:translate(13px, 3px) rotate(10deg)}
	63% {transform:translate(-13px, 3px) rotate(-10deg)}
	80% {transform:translate(0, 0) rotate(0); opacity:1}
}
/*// e: floting mouse */

@keyframes floatingBanner {
	0% { transform: translate(0, 0); }
	50% { transform: translate(0, 10px); }
	100% { transform: translate(0, 0); }
}

/* 留ㅼ�κ��� ���� */
.find_address {margin:0 0 29px 0;padding:25px 30px;background-color:#dadfcb;}/* 201607 */
.find_address p {padding:0 0 14px 0;font-size:14px;color:#302216;}
.address_list p {padding:0 0 7px 0;font-size:16px;color:#000;}
.address_tit {overflow:hidden;width:100%;height:32px;padding:17px 0 3px 0;background:#ecefe4;font-size:15px;color:#000;}/* 20160821 */
.address_tit .txt1 {float:left;display:inline-block;width:20%;text-align:center;}/* 20160804 */
.address_tit .txt2 {float:left;display:inline-block;width:80%;text-align:center;}/* 20160804 */
.add_list {width:536px;height:212px;padding:20px 0 0 0;border-bottom:1px solid #d7d4cf;overflow-y:auto;}
.add_list table td {padding:0 0 21px 0;}
.add_list table .name {text-align:center;}
.add_list table .addr {width:172px;padding-left:3px;text-align:left;}
/* sns */
.share {text-align:center;}
.share > a + a {margin-left:5px}
.share .facebook {display:inline-block;width:31px;height:31px; background:url("../images/common/common.png") 0 -184px no-repeat;font-size:0;overflow:hidden;}
.share .twitter {display:inline-block;width:31px;height:31px; background:url("../images/common/common.png") -32px -184px no-repeat;font-size:0;overflow:hidden;}
.share .copy-link {display:inline-block; overflow:hidden; width:31px; height:31px; margin-right:0; background:url("../images/common/ico_copy.png") 0 0 no-repeat; font-size:0}

/* ��踰��� */
#back-top {position:fixed;left:50%;bottom:30px;margin-left:521px;text-indent:-999em;font-size:0;z-index:11}
#back-top a:focus {outline:1px solid #302216;}
#back-top span {display:block;width:57px;height:57px;margin-bottom:7px;background:url("../images/common/common.png") no-repeat 0 -379px;}

/* 2014-12-03 �명�� ���� ���� */
.family_site button {overflow:hidden;position:absolute;width:20px;height:45px;text-indent:-9999px;border:0;cursor:pointer;}
.family_site button.prev {left:0;top:10px;background:url(../images/common/bg_footerAnc01.png) no-repeat left center;}
.family_site button.next {right:0;top:10px;background:url(../images/common/bg_footerAnc02.png) no-repeat right center;}
.family_site .wrapList {position:relative;overflow:hidden;width:1020px;height:56px;margin:0 auto;}
.family_site .buttonWrap {position:relative;width:1070px;margin:0 auto;}


/* 二쇰Ц踰��� 議고�� ���� */
.inquiry_pop{background: #fff;}
.inquiry_pop_head{padding: 10px 25px; background: #13523c;}
.inquiry_pop_head p{font-size: 18px;color: #fff;}
.inquiry_pop_body{padding: 20px;}
.inquiry_tbl { width: 100%; table-layout: fixed; border-spacing: 0; border-collapse: collapse; }
.inquiry_tbl thead tr th {font-weight: normal;box-sizing: border-box;height: 50px;font-size: 15px; background: #ecefe4;text-align: center;}
.inquiry_tbl td {height: 73px;text-align: left; padding: 9px;box-sizing: border-box;line-height: 1.4;font-size: 13px;color: #666;border-bottom: 1px solid #ecefe4;}
.inquiry_tbl td .prd_name{text-overflow: ellipsis;overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;}
.ellipsis{text-overflow: ellipsis;white-space: nowrap;overflow: hidden; }

.inquiry_nolist_area{background: #ecefe4;}
.inquiry_nolist_area{height: 335px; display: flex;flex-direction: column;justify-content: center;text-align: center;}
.inquiry_nolist_area .txt1{font-size: 15px;color: #000;margin-bottom: 15px;}
.inquiry_nolist_area .txt2{font-size: 13px;color: #666;line-height: 1.6;}
.inquiry_nolist_area .txt2 span{border-bottom: 1px solid #666;color: #000;}

.pop_inquiry{margin-left: -189px;}
.pop_inquiry .pop_content{text-align: center;padding: 25px;border: 5px solid #ecefe4;box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.3)}
.pop_inquiry .pop_content .txt1{font-size: 15px;color: #555;}
.pop_inquiry .pop_content .txt2{font-size: 13px;color: #666;}
.pop_inquiry .btn_pop_close{position: absolute;right: 15px;top: 15px;}

.non-member_tit{padding: 18px 0; background: #ecefe4;font-size: 13px;color: #666;text-align: center;}
.non-member_input{position: relative;width: 480px; margin: 40px auto 0;}
.non-member_input table.tbl-write td{padding: 0 0 5px 0;}
.btn-inquiry-confirm{position: absolute;top: 2px;right: 0;width: 96px;height: 73px; font-size: 15px;color: #fff;background: #184f3b;}

